<ul>
	<li class="nav-home"><a href="/">home</a></li>
	<li class="nav-miley"><a href="../miley">miley</a></li>
	<li class="nav-media"><a href="../media">media</a></li>
	<li class="nav-gallery"><a href="../gallery">gallery</a></li>
	<li class="nav-online"><a href="../online">online</a></li>
	<li class="nav-about"><a href="../about">about</a></li>
</ul>